
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #afd2d6;
  }
  
  h1 {
    color: #235a89;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  